.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    background: rgb(7, 7, 7);
}

input {
    border: 1px solid white;
    outline: none;
    background-color: black;
    color: white;
    width: 327px;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: right;
    font-size: xx-large;
    padding-right:10px;
}

h1 {
    color: aliceblue;
}
